* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: rgb(244, 244, 244);
}

.ItemListContainer{
    display: flex;
    justify-content: center;
}

.Loading {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 3%;
}

h1 {
    height: 100px ;
    display: flex;
    justify-content: center;
    color: rgb(255, 132, 0);
    font-size: 5.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1% 0 6.5% 0;
}

