.category-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin: 1em;
    box-shadow: 5px 5px 5px grey;
    background-color: #fff;
}

.ItemHeader {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ItemImg {
    display: block;
    margin: 0 auto;
    width: 100%;
    /* Ajusta el ancho deseado */
}

.category-card-container:hover {
    transform: scale(1.1);
    transition: 0.8s;
    box-shadow: 2px 3px 3px rgb(191, 47, 47);
}

.category-card-container p {
    padding: 3% 2% 0 6%;
}

.category-card-container .ItemFooter {
    display: flex;
    justify-content: center;
}



button:hover {
    cursor: pointer;
}

p {
    font-size: 14px;
}

footer .ItemFooter {
    margin-top: -20px;
}

.ItemFooter button {
    padding: 5%;
}

.card-container .ItemFooter {
    padding: 5%;
}

.BtnCard {
    text-decoration: none;
    color: #fff;
}

.BtnCard:hover {
    color: none;
}