.banner-container  {
    height: 95vh;
    background-image: url('https://i.ibb.co/CBHTNh4/banner2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}